# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
*.iml

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
*.jks
*.keystore

# PRoot binaries
android/app/src/main/jniLibs/*
!android/app/src/main/jniLibs/arm64-v8a/
!android/app/src/main/jniLibs/arm64-v8a/**

# IDE
.idea/
.vscode/
*.swp
